.main {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  height: 100%;
  gap: 1vh;
}

.paragraph {
  font-size: 1.7rem;
}

.houseImg {
  object-fit: cover;
  width: 100%;
  height: 100%;
  height: 50vh;
}

.containerIn {
  max-width: 100%;
  padding: 5vw;
  /* position: absolute; */
  /* top: 5vh; */
  /* left: 5vw; */
  background-color: var(--primary);
}

.emphasize {
  color: var(--foreground);
}

.containerOut {
  width: 100vw;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.heading1 {
  font-size: 3rem;
  width: 80%;
}

.bookButton {
  background-color: var(--foreground);
  color: white;
  padding: 0.5vw 1vh;
  border-radius: var(--border-radius);
  font-size: 2rem;
  /* transition: background 200ms; */
}